<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="FitnessTracker">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>FitnessTracker</title>

    <!-- Page styles -->
    @Styles.Render("https://fonts.googleapis.com/icon?family=Material+Icons")
    @Styles.Render("~/Content/materialize.min.css")
    @Styles.Render("~/Content/styles.css")
</head>

<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a href="@Url.RouteUrl(new {controller = "Home", action = "Index"})" id="logo-container" class="brand-logo">
                <span>HospitalManager</span>
            </a>
            <ul class="right hide-on-med-and-down menu-link">
                @if(!User.Identity.IsAuthenticated)
                {
                    <li>
                        @Html.ActionLink("Register", "Register", "Account")
                    </li>

                    <li>
                        @Html.ActionLink("Login", "Login", "Account")
                    </li>
                }
                else
                {
                    <span class="grey-text">Hello, @User.Identity.Name</span>
                    if(User.IsInRole("doctor"))
                    {
                        <li class="right hide-on-med-and-down">
                            @Html.ActionLink("Administartion", "AdminPage", "User")
                        </li>
                    }
                    <li class="right hide-on-med-and-down">
                        @Html.ActionLink("Logout", "Logout", "Account")
                    </li>
                }
            </ul>
        </div>
    </nav>

    <main>
        @RenderBody()
    </main>

    <footer class="page-footer white">
        <div class="footer-copyright">
            <div class="container grey-text text-darken-1">
                © 2017 Yevgeniy Tkachenko. All rights reserved.
            </div>
        </div>
    </footer>

    <!-- Page scripts -->
    @Scripts.Render("~/Scripts/jquery-3.1.1.min.js")
    @Scripts.Render("~/Scripts/materialize.min.js")
    
    @RenderSection("scripts", false)
</body>
</html>