@model FitnessTracker.WEB.ViewModels.StatisticWrapperViewModel

@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="row" style="margin-top: 10px">
        <div class="col s12 m8 l6 push-m2 push-l3">
            <ul id="tabs-swipe-demo" class="tabs">
                <li class="tab col s4"><a class="active" href="#test-swipe-1">Watch</a></li>
                <li class="tab col s4"><a href="#test-swipe-2">Balance</a></li>
                <li class="tab col s4"><a href="#test-swipe-3">Motion</a></li>
            </ul>
            <div id="test-swipe-1" class="col s12">
                @if (Model.WatchStatistics.Any())
                {
                    foreach (var watchStatistic in Model.WatchStatistics)
                    {
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="http://materializecss.com/images/office.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">
                                    Training @watchStatistic.Date.ToString("D")
                                    <i class="material-icons right">more_vert</i>
                                </span>
                                <div>From: @watchStatistic.StartExcerciseTime.ToString("t")</div>
                                <div>To: @watchStatistic.FinishExcerciseTime.ToString("t")</div>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Training Info<i class="material-icons right">close</i></span>
                                <div>Average heartbeat: @watchStatistic.AverageHeartbeat</div>
                                <div>Kalories burnt: @watchStatistic.KaloriesBurnt</div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div>You do not have any data yet.</div>
                }

            </div>
            <div id="test-swipe-2" class="col s12">
                @if(Model.BalanceStatistics.Any())
                {
                    foreach(var balanceStatistic in Model.BalanceStatistics)
                    {
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="http://materializecss.com/images/office.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">
                                    Training @balanceStatistic.Date.ToString("D")
                                    <i class="material-icons right">more_vert</i>
                                </span>
                                <div>From: @balanceStatistic.Start.ToString("t")</div>
                                <div>To: @balanceStatistic.Finish.ToString("t")</div>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Training Info<i class="material-icons right">close</i></span>
                                <div>Balance evaluation: @balanceStatistic.SessionEvaluation</div>
                                <div>Front weight shift: @balanceStatistic.FrontWeightShift</div>
                                <div>Left weight shift: @balanceStatistic.LeftWeightShift</div>
                                <div>Right weight shift: @balanceStatistic.RightWeightShift</div>
                                <div>Back weight shift: @balanceStatistic.BackWeightShift</div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div>You do not have any data yet.</div>
                }
            </div>
            <div id="test-swipe-3" class="col s12">
                @if(Model.MotionStatistics.Any())
                {
                    foreach(var motionStatistic in Model.MotionStatistics)
                    {
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="http://materializecss.com/images/office.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">
                                    Training @motionStatistic.Date.ToString("D")
                                    <i class="material-icons right">more_vert</i>
                                </span>
                                <div>From: @motionStatistic.Start.ToString("t")</div>
                                <div>To: @motionStatistic.Finish.ToString("t")</div>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Training Info<i class="material-icons right">close</i></span>
                                <div>You walked @motionStatistic.KilometersWalked</div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div>You do not have any data yet.</div>
                }
            </div>
        </div>
    </div>
}
else
{
    <div>Please login to see your profile</div>
}